html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}

body {
  color: #111;
}

.mini-logo {
  top: 10px;
  left: 14px;
  width: 400px;
  height: auto;
  z-index: 20;
}

nav {
  top: 34px;
  right: 120px;
  z-index: 20;
  display: flex;
  gap: 110px;
}

nav a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  color: #2f59df;
}

nav a.active {
  color: #e61d89;
}

.section {
  min-height: auto;
  box-sizing: border-box;
}

.section.white {
  display: grid;
  grid-template-columns: minmax(340px, 48vw) minmax(360px, 44vw);
  grid-template-rows: auto auto;
  column-gap: 34px;
  row-gap: 5px;
  align-items: center;
  justify-content: center;
  height: 55vh;  
  padding: 60px 90px 20px;
  background: white;
}

.big-logo {
  grid-column: 1;
  grid-row: 1 / span 2;
  width:350px ;
  height: auto;
  justify-self: center;
  align-self: center;
  display: block;
}

.section.white h4 {
  grid-column: 2;
margin-bottom: 10px;
  max-width: 760px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.35;
  text-align: center;
}

.section.white p {
  grid-column: 2;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.4;      
  max-width: 760px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.35;
  text-align: left;
}

.section.blue {
  position: relative;
  background: #c8dafb;
  padding: 35px 0 80px;
  box-sizing: border-box;
  overflow: hidden;
}

.section.blue::after {
  content: "";
  position: absolute;
  right: -90px;
  bottom: -70px;
  width: 42vw;
  height: 22vw;
  background: white;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.section.blue h4 {
  position: relative;
  z-index: 1;
  width: min(70vw, 980px);
  margin: 0 auto 14px;
  background: white;
  border-radius: 34px;
  padding: 18px 34px;
  box-sizing: border-box;
  color: #2453d6;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.35;
  text-align: center;
}

.section.blue p {
  position: relative;
  z-index: 1;
  width: min(70vw, 980px);
  margin: 14px auto;
  background: white;
  box-sizing: border-box;
   height: 45vh;
  padding: 22px 40px;
  color: #e61d89;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.35;
  text-align: center;
  border-right: 8px solid #e61d89;
  border-bottom: 8px solid #e61d89;
}

img {
  display: block;
}